<%= render partial: "shared/subnavigation", locals: { current: :inventories} %>

<div class="container">
  <h1>All the inventories</h1>
  <%= simple_form_for @inventory do |o| %>
    <%= o.input :date %>
    <%= o.button :submit, class: "cogs_btn" %>
  <% end %>


  <table class="table table-striped">
    <tr>
      <th>Inventories</th>
      <th>Quantity</th>
      <th>Value</th>
      <!-- <th>Actions</th> -->
    </tr>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= link_to "Inventory of the #{inventory.date}", inventory_path(inventory) %></td>
        <td>na</td>
        <td>na</td>
        <!-- <td> -->
          <%#= link_to "Delete", inventory, method: :delete, class: "destroy"  %>
        <!-- </td> -->
      </tr>
    <% end %>
  </table>
</div>
