<%= render partial: "shared/subnavigation", locals: { current: :inventories} %>

<div class="container">
  <h1>Inventory of the <%= @inventory.date %></h1>
  <p>
    Download:
    <%= link_to "CSV", inventory_inventory_primary_lines_path(@inventory, format: "csv") %> |
    <%= link_to "Excel", inventory_inventory_primary_lines_path(@inventory, format: "xls") %>
  </p>
  <p><%= link_to "Back to all inventories", inventories_path %></p>
  <hr>
  <div class="row">
    <div class="col-xs-6">
      <h3>Add an inventory line</h3>
      <p>You can add each product only once per inventory.</p>
      <%= render "inventory_primary_lines/form" %>
    </div>
    <div class="col-xs-6">
    <h2 class="text-center">Import from csv</h2>
    <p>Your csv file must contain one headers row with 2 columns exactly named: "SKU" and "Quantity"</p>
      <%= form_tag import_inventory_inventory_primary_lines_path(@inventory), multipart: true do %>
        <%= file_field_tag :file, class: "" %> <br>
        <%= submit_tag "Import", class: "cogs_btn" %>
      <% end %>
    </div>
  </div>
  <hr>
  <h3>Inventory lines</h3>
  <table class="table table-striped">
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Total Value</th>
      <th>Actions</th>
    </tr>
    <% @inventory.inventory_primary_lines.each do |ipl| %>
      <tr>
        <td><%= ipl.product.select_label %></td>
        <td><%= ipl.qtty %></td>
        <td><%= number_to_currency(ipl.average_inventory_value_per_unit, unit: "DKK", format: "%n %u") %></td>
        <td><%= link_to "Delete", ipl, method: :delete, class: "destroy"  %></td>
      </tr>
    <% end %>
  </table>
</div>
