<div class="row">
  <div class="col-xs-6">
    <%= simple_form_for [@order, @invoice] do |inv| %>
      <%= inv.input :amount_in_invoice_currency %>
      <%= inv.input :invoice_currency %>
      <%= inv.input :amount_in_accounting_currency %>
      <%= inv.input :reference %>
      </div>
      <div class="col-xs-6">
      <%= inv.input :url %>
      <%= inv.input :issue_date %>
      <%= inv.input :due_date %>
      <%= inv.input :payment_date %>
      <%= inv.input :document  %>
      <%= inv.input :document_cache, as: :hidden %>
  </div>
</div>
<%= inv.button :submit, 'Add an invoice' %>
<% end %>

<%= link_to "http://res.cloudinary.com/roccamore/#{Invoice.last.document.file.identifier}", target: "_blank" do %>
  <%= image_tag Invoice.last.document.url(:thumb)  %>
<% end %>
<%#= cl_image_tag("yisqyl1yloes2z6btxpc.pdf", width: 200, height: 250, crop: :fit) %>
<!-- orders/image/upload/v1511100616/yisqyl1yloes2z6btxpc.pdf -->