<%= render partial: "shared/subnavigation", locals: { current: :invoices} %>

<div class="container">
  <h1>All the invoices</h1>
  <% unless @over_due.blank? %>
    <h1>Overdue</h1>
    <table class="table table-striped">
      <tr>
        <th>Reference</th>
        <th>URL</th>
        <th>Order</th>
        <th>Amount in invoice currency</th>
        <th>Amount in DKK</th>
        <th>Issue Date</th>
        <th>Due Date</th>
        <th>Payment Date</th>
      </tr>
      <% @over_due.order(:issue_date).each do |invoice| %>
        <tr>
          <td><%= invoice.reference %></td>
          <td><%= invoice.url %></td>
          <td><%= link_to invoice.order.name, order_path(invoice.order) %></td>
          <td><%= invoice.amount_in_invoice_currency %></td>
          <td><%= invoice.amount_in_accounting_currency %></td>
          <td><%= invoice.issue_date %></td>
          <td><%= invoice.due_date %></td>
          <td><%= invoice.payment_date %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <% unless @due_within_30_days.blank? %>
    <h1>Due within 30 days</h1>
    <table class="table table-striped">
      <tr>
        <th>Reference</th>
        <th>URL</th>
        <th>Order</th>
        <th>Amount in invoice currency</th>
        <th>Amount in DKK</th>
        <th>Issue Date</th>
        <th>Due Date</th>
        <th>Payment Date</th>
      </tr>
      <% @due_within_30_days.order(:issue_date).each do |invoice| %>
        <tr>
          <td><%= invoice.reference %></td>
          <td><%= invoice.url %></td>
          <td><%= link_to invoice.order.name, order_path(invoice.order) %></td>
          <td><%= invoice.amount_in_invoice_currency %></td>
          <td><%= invoice.amount_in_accounting_currency %></td>
          <td><%= invoice.issue_date %></td>
          <td><%= invoice.due_date %></td>
          <td><%= invoice.payment_date %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <% unless @due_in_more_than_30_days.blank? %>
    <h1>Due in more than 30 days</h1>
    <table class="table table-striped">
      <tr>
        <th>Reference</th>
        <th>URL</th>
        <th>Order</th>
        <th>Amount in invoice currency</th>
        <th>Amount in DKK</th>
        <th>Issue Date</th>
        <th>Due Date</th>
        <th>Payment Date</th>
      </tr>
      <% @due_in_more_than_30_days.order(:issue_date).each do |invoice| %>
        <tr>
          <td><%= invoice.reference %></td>
          <td><%= invoice.url %></td>
          <td><%= link_to invoice.order.name, order_path(invoice.order) %></td>
          <td><%= invoice.amount_in_invoice_currency %></td>
          <td><%= invoice.amount_in_accounting_currency %></td>
          <td><%= invoice.issue_date %></td>
          <td><%= invoice.due_date %></td>
          <td><%= invoice.payment_date %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <% unless @paid_invoices.blank? %>
    <h1>Paid</h1>
    <table class="table table-striped">
      <tr>
        <th>Reference</th>
        <th>URL</th>
        <th>Order</th>
        <th>Amount in invoice currency</th>
        <th>Amount in DKK</th>
        <th>Issue Date</th>
        <th>Due Date</th>
        <th>Payment Date</th>
      </tr>
      <% @paid_invoices.order(:issue_date).each do |invoice| %>
        <tr>
          <td><%= invoice.reference %></td>
          <td><%= invoice.url %></td>
          <td><%= link_to invoice.order.name, order_path(invoice.order) %></td>
          <td><%= invoice.amount_in_invoice_currency %></td>
          <td><%= invoice.amount_in_accounting_currency %></td>
          <td><%= invoice.issue_date %></td>
          <td><%= invoice.due_date %></td>
          <td><%= invoice.payment_date %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

</div>
