<div class="container">
  <h1>All the orders</h1>
  <%= simple_form_for @order do |o| %>
    <%= o.input :name %>
    <%= o.input :arrival_in_stock_date, label: "Date of arrival in stock" %>
    <%= o.button :submit %>
  <% end %>

  <table class="table table-striped">
    <tr>
      <th>name</th>
      <th>qtty</th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.name, order_path(order) %></td>
        <td><%= order.qtty %></td>
      </tr>
    <% end %>
  </table>
</div>

