<%= render partial: "shared/subnavigation", locals: { current: :purchase_orders} %>

<div class="container">
<p>Total: <%= @order.additional_costs %></p>
<p>Per unit: <%= @order.additional_costs_per_unit %></p>
<p>Arrival in stock: <%= @order.arrival_in_stock_date ? @order.arrival_in_stock_date : "not arrived in stock yet" %></p>
  <h1><%= @order.name %> - Quantity: <%= @order.qtty.nil? ? "no product yet." : @order.qtty %></h1>
  <h4>Currency: <%= @order.invoice_currency %> - Invoice reference: <%= @order.invoice_reference %></h4>
  <div class="cogs_btn_wrapper">
    <%= link_to "See all orders", orders_path, class: "cogs_btn" %>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-6">
      <h3>Add a product</h3>
      <p>You can add each product only once per order.</p>
      <%= render "order_lines/form" %>
    </div>
    <div class="col-xs-6">
        
    </div>
  </div>

  <hr>

  <h3>Order invoices</h3>
  <div class="cogs_btn_wrapper">
    <%= link_to "Add an Invoice", new_order_invoice_path(@order), class: "cogs_btn" %>
  </div>

  <table class="table table-striped">
    <tr>
      <th>Reference</th>
      <th>Amount in invoice currency</th>
      <th>Amount</th>
      <th>Additional cost per unit</th>
      <th>Actions</th>
    </tr>
    <% @order.invoices.each do |inv| %>
      <tr>
        <td><%= inv.reference %></td>
        <td><%= number_to_currency(inv.amount_in_invoice_currency, unit: "#{inv.invoice_currency}", format: "%n %u") %></td>
        <td><%= number_to_currency(inv.amount_in_accounting_currency, unit: "DKK", format: "%n %u") %></td>
        <td><%= number_to_currency(inv.amount_in_accounting_currency.to_f/@order.qtty, unit: "DKK", format: "%n %u") %></td>
        <td>
          <%= link_to "Show", order_invoice_path(@order, inv), class: "destroy"  %>
          |
          <%= link_to "Delete", inv, method: :delete, class: "destroy"  %>
        </td>
      </tr>
    <% end %>
  </table>
  <h3>Order products</h3>
  <table class="table table-striped">
    <tr>
      <th>SKU</th>
      <th>name</th>
      <th>qtty</th>
      <th>production cost per unit in invoice currency</th>
      <th>production costs per unit</th>
      <th>additional costs per unit</th>
      <th>total costs per unit</th>
      <th>Actions</th>
    </tr>
    <% @order.order_lines.each do |ol| %>
      <tr>
        <td><%= link_to ol.product.SKU, product_path(ol.product) %></td>
        <td><%= ol.product.name %></td>
        <td><%= ol.qtty %></td>
        <td><%= number_to_currency(ol.production_cost_per_unit_invoice_currency, unit: "#{@order.invoice_currency}", format: "%n %u") %></td>
        <td><%= number_to_currency(ol.production_cost_per_unit_accounting_currency, unit: "DKK", format: "%n %u") %></td>
        <td><%= number_to_currency(ol.order.additional_costs_per_unit, unit: "DKK", format: "%n %u") %></td>
        <td><%= number_to_currency(ol.total_costs_per_unit, unit: "DKK", format: "%n %u") %></td>
        <td><%= link_to "Delete", ol, method: :delete, class: "destroy"  %></td>
      </tr>
    <% end %>
  </table>
  <%= "This order contains no product yet." if @order.products.empty?%>
</div>
