<h1><%= @order.name %> - Quantity: <%= @order.qtty.nil? ? "no product yet." : @order.qtty %></h1>
<p><%= link_to "See all orders", orders_path %></p>

<%= render "order_lines/form" %>

<h3>Products</h3>

<table class="table table-striped">
  <tr>
    <th>SKU</th>
    <th>name</th>
    <th>qtty</th>
    <th>price per unit</th>
  </tr>
  <% @order.order_lines.each do |ol| %>
    <tr>
      <td><%= ol.product.SKU %></td>
      <td><%= ol.product.name %></td>
      <td><%= ol.qtty %></td>
      <td>Not available yet.</td>
    </tr>
  <% end %>
</table>
<%= "This order contains no product yet." if @order.products.empty?%>
