<div class="cogs_sec_navbar">
    <%= link_to "Products", products_path, class: "cogs_sec_navbar_item" %>
    <%= link_to "Purchase Orders", orders_path, class: "cogs_sec_navbar_item" %>
    <%= link_to "Invoices", invoices_path, class: "cogs_sec_navbar_item" %>
    <%= link_to "Inventories", inventories_path, class: "cogs_sec_navbar_item" %>
    <%= link_to "COGS", cogs_path, class: "cogs_sec_navbar_item" %>
</div>

<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <h3><%= link_to "orders", orders_path %></h3>
  <h3><%= link_to "products", products_path %></h3>
  <h3><%= link_to "inventories", inventories_path %></h3>
  <h3><%= link_to "invoices", invoices_path %></h3>
  <h3><%= link_to "sales order lines", sales_order_lines_path %></h3>
  <h3><%= link_to "purchase order drafts", purchase_order_drafts_path %></h3>
</div>
