<h3>Orders with <%= product.short_name %></h3>

<table class="table table-striped">
  <tr>
    <th>Order</th>
    <th>Quantity</th>
    <th>Costs per unit</th>
    <th>Arrival in stock</th>
  </tr>
  <% product.orders.each do |order| %>
    <tr>
      <td><%= order.name %></td>
      <td><%= order.order_lines.where( product_id: product.id ).first.qtty %></td>
      <td><%= number_to_currency(order.order_lines.where( product_id: product.id ).first.total_costs_per_unit, unit: "DKK", format: "%n %u") %></td>
      <td><%= order.arrival_in_stock_date %></td>
    </tr>
  <% end %>
</table>
<%= "This product was never ordered yet." if product.orders.empty?%>