<%= render partial: "shared/subnavigation", locals: { current: :products} %>

<div class="container-fluid">
      <h1>Products - <%= Product.count %></h1>
  
  <div class="row">
    
    <div class="col-xs-12 col-md-6">
      <%= link_to products_path(format: "csv"), class: "cogs_btn" do %>
        <i class="fa fa-download" aria-hidden="true"></i> CSV
      <% end %>
      <%= link_to products_path(format: "xls"), class: "cogs_btn" do %>
        <i class="fa fa-download" aria-hidden="true"></i> Excel
      <% end %>
      <%= link_to "Add a product", new_product_path, class: "cogs_btn" %>
    </div>
    
    <div class="col-xs-12 col-md-6">
      <div class="cogs_box">
        <h4 class="">Upload many products (.csv file)</h4>
        <%= form_tag import_sales_order_lines_path, multipart: true do %>
          <%= file_field_tag :file %> <br>
          <%= submit_tag "Upload", class: "cogs_btn" %>
        <% end %>
      </div>
    </div>

  </div>
  
  <hr>

  <%= render "index_products" %>
</div>
