<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Products_<%= Date.today.strftime("%Y-%m-%d") %>">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">id</Data></Cell>
        <Cell><Data ss:Type="String">SKU</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Size</Data></Cell>
        <Cell><Data ss:Type="String">Color</Data></Cell>
        <Cell><Data ss:Type="String">Structure</Data></Cell>
        <Cell><Data ss:Type="String">Category</Data></Cell>
        <Cell><Data ss:Type="String">Heel Thickness</Data></Cell>
        <Cell><Data ss:Type="String">Heel Height</Data></Cell>
        <Cell><Data ss:Type="String">Platform</Data></Cell>
        <Cell><Data ss:Type="String">Material</Data></Cell>
        <Cell><Data ss:Type="String">Closing Type</Data></Cell>
        <Cell><Data ss:Type="String">Supplier</Data></Cell>
      </Row>
    <% @products.each do |product| %>
      <Row>
        <Cell><Data ss:Type="String"><%= product.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.SKU %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.size %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.color %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.structure %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.category %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.heel_thickness %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.heel_height %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.platform %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.material %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.closing_type %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.supplier && product.supplier.name %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
