<h1>Products#new</h1>
<%= simple_form_for @purchase_order_draft do |pod| %>
	<%= pod.input :name %>
	<%= pod.input :supply_period_days %>
	<%= pod.input :supplier %>
	<%= pod.input :inventory_id %>
	<%= pod.button :submit %>
<% end %>