<div class="container">
  <h1><%= @product.name  %> - <%= @product.size %> - <%= @product.SKU %></h1>

  <p><%= link_to "See all products", products_path %></p>


  <table class="table table-striped">
    <tr>
      <th>name</th>
      <th>size</th>
      <th>color</th>
      <th>structure</th>
      <th>category</th>
      <th>SKU</th>
      <th>parentSKU</th>
    </tr>

    <tr>
      <td><%= @product.name %></td>
      <td><%= @product.size %></td>
      <td><%= @product.color %></td>
      <td><%= @product.structure %></td>
      <td><%= @product.category %></td>
      <td><%= @product.SKU %></td>
      <td><%= @product.parentSKU %></td>
    </tr>
  </table>

  <h3>Orders with this product</h3>

  <table class="table table-striped">
    <tr>
      <th>Order</th>
      <th>Quantity</th>
      <th>Costs per unit</th>
      <th>Arrival in stock</th>
    </tr>
    <% @product.orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.order_lines.where( product_id: @product.id ).first.qtty %></td>
        <td><%= number_to_currency(order.order_lines.where( product_id: @product.id ).first.total_costs_per_unit, unit: "DKK", format: "%n %u") %></td>
        <td><%= order.arrival_in_stock_date %></td>
      </tr>
    <% end %>
  </table>
  <%= "This product was never ordered yet." if @product.orders.empty?%>
</div>
