<%= render partial: "shared/subnavigation", locals: { current: :purchase_order_drafts} %>
<div class="cogs_btn_wrapper">
<%= link_to "Go to the normal version", purchase_order_draft_path(@purchase_order_draft), class: "cogs_btn" %>
</div>
<%= render partial: "header_show" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
			<table class="table table-striped">
			    <tr>
			      <th>product parent picture</th>
			      <th>product parent SKU</th>
			      <th>product SKU</th>
			      <th>Purchasing Price</th>
			      <th>Order qtty</th>
			      <th>Days of sales</th>
			      <th>Status</th>

			    </tr>
					
					<% @podl.sort_by{|i| i.product_sku}.each do |podl| %>
			    
			    <tr>
		        <td><%= cl_image_tag podl.product.parent_product.photo, height: 50, width: 50, crop: :fill %></td>
			      <td><%= podl.product.parent_product.sku %></td>
			      <td><%= link_to podl.product.short_name, edit_purchase_order_draft_line_path(podl), target: "_blank" %></td>
			      <td>
			      	<%= link_to edit_parent_product_path(podl.product.parent_product), target: "_blank" do %>
			      	<%= podl.product.parent_product.usual_production_price %>
			      	<%= podl.product.parent_product.usual_production_currency %>
			      	<% end %>
			      </td>
			      <td><%= link_to podl.order_qtty, edit_purchase_order_draft_line_path(podl), target: "_blank" %></td>
			      <td
			      class="color-<%= podl.days_of_sales_after_order >= @purchase_order_draft.supply_period_days%>"
			      >
			        <%= podl.days_of_sales_after_order %>
			      </td>
			      <td
			      class="color-<%= podl.status ==  "finalized" %>"
			      >
			        <%= podl.status %></td>
			    </tr>
			  	
			  	<% end %>
			</table>
      
    </div>
  </div>
</div>
