<ul>
	<li>@fsos_processed_count: <%= @fsos_processed_count %></li>
	<li>@fsos_to_be_processed_count: <%= @fsos_to_be_processed_count %></li>
	<li>@fsos_total_count: <%= @fsos_total_count %></li>
	<li>@fsos count: <%= @fsos.count %></li>
	<li>@sos count: <%= @sos.count %></li>
	<li>@sols count: <%= @sols.count %></li>
</ul>