<%= render partial: "shared/subnavigation", locals: { current: :stats} %>

<div class="container">
  <div class="row">
    <h1>Filters</h1>
    <div class="col-xs-12">
    	<%= render partial: "stats/filters_form" %>
    </div>
    <h1>Statistics</h1>
    <h3><%= @total_sold_units %> units sold for <%= number_to_currency(@total_sales, unit: "DKK", format: "%n %u") %></h3>
  </div>
</div>

<div class="fluid-container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div id="chart_sales_by_SKU"></div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div id="chart_sales_by_SKU_bars"></div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div id="chart3"></div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div id="chart4"></div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div id="chart5"></div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div id="chart6"></div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div id="chart7"></div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div id="chart8"></div>
    </div>
  </div>
</div>

<% content_for :charts do %>
  <%= render partial: "layouts/google_charts" %>
  <%= render partial: "stats/sales_by_SKU" %>
  <%= render partial: "stats/sales_by_SKU_bars" %>
  
<% end %>

<%= content_for :after_js do %>
<% end %>