<%= render partial: "shared/subnavigation", locals: { current: :sales_orders} %>

<div class="container">
  <div class="row">
	<h1 class="text-center">Sales Order Lines</h1>
    <div class="col-xs-12 col-md-4">
			<h3>Upload many Sales Order Lines (.csv file)</h3>

			<%= form_tag import_sales_order_lines_path, multipart: true do %>
			  <%= file_field_tag :file %> <br>
			  <%= submit_tag "Upload", class: "cogs_btn" %>
			<% end %>
    </div>
    <div class="col-xs-12 col-md-8">
			<h3>Uploaded Sales Order Lines:</h3>
		    <table class="table table-striped">
		      <tr>
		        <th>Date</th>
		        <th>Qtty</th>
		        <th>SKU</th>
		      </tr>
					<% @sales_order_lines.each do |sol| %>
		        <tr>
		          <td><%= sol.date.strftime '%Y-%b-%d'  %></td>
		          <td><%= sol.qtty %></td>
		          <td><%= sol.product.SKU %></td>
		        </tr>
		      <% end %>
		    </table>
    </div>
  </div>
</div>


